body {
	background-color: #eee;
}
.menu {
	background-color: #fff;
}

.menu>.logo {
	background-color: #5f6f81;
}
.menu>.logo:hover {
	background-color: #5f6f81;
}
.menu>.logo>a{
	color: #fff;
}

.menu>li:hover {
	background-color: #ddd;
}

.panel-heading {
	padding: 15px;
    background: #5f6f81;
    color: #fff;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.panel-body {
	padding: 15px;
    background: #fff;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
td>.button {
	margin: 0;
}

.space {
    /*background-color: #333;*/
}
.space > a {
    display: none;
}

.space:hover {
    background-color: #AFA;
    border-radius: 4px;
}

.space:hover > a {
    display: block;
    color: #777;
}

.reveal.tiny {
    width: 10%;
}

.occupied {
    border-radius: 4px;
}
.occupied > a:hover {
    color: #faa;
}
.color1 {
    background-color: #225378; 
}
.color2 {
    background-color: #1695A3;
}
.color3 {
    background-color: #ACF0F2;
}
.color4 {
    background-color: #F3FFE2;
}
.color5 {
    background-color: #EB7F00;
}
