        <div class="medium-12 columns" style="margin-top: 10px;">
            <div class="panel-heading">
                Jadwal Kuliah
            </div>
            <div class="panel-body">
                <div class="text-right">
                    <input ng-model="tanggal" ng-change="updateSchedule()" class="float-right" style="width: 200px;" type="date">
                </div>
            	<table class="schedule">
                    <thead>
                        <tr>
	                        <th>Kode Ruangan</th>
	                        <th class="text-center" width="90">07:00</th>
	                        <th class="text-center" width="90">08:00</th>
	                        <th class="text-center" width="90">09:00</th>
	                        <th class="text-center" width="90">10:00</th>
	                        <th class="text-center" width="90">11:00</th>
	                        <th class="text-center" width="90">12:00</th>
	                        <th class="text-center" width="90">13:00</th>
	                        <th class="text-center" width="90">14:00</th>
	                        <th class="text-center" width="90">15:00</th>
	                        <th class="text-center" width="90">16:00</th>
	                        <th class="text-center" width="90">17:00</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="(_, my_room) in rooms" ng-class="(my_room.status==1)?'rusak':'normal'">
	                        <td>{{my_room.name}}</td>
	                        <td class="{{schedule.htmlClass}}" ng-repeat="(_, schedule) in my_room.schedules" room-data-id="{{my_room.id}}" colspan="{{schedule.duration}}" ng-bind-html="schedule.htmlContent"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

		<div class="reveal" id="modalTambah" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Tambah Jadwal</h2>
            <form id="form-tambah">
                <label>Jam Mulai:</label>
                <input class="form-control" type="text" id="waktu" disabled>
                <label>Kode Kuliah:</label>
                <select class="form-control" ng-model="selectedCourseId">
                    <option ng-selected="selectedCourseId == course.id" ng-repeat="course in courses" ng-value="course.id">{{course.name}}</option>
                </select>
                <label>Kode Ruangan:</label>
                <select class="form-control" ng-model="selectedRoomId">
                    <option ng-selected="selectedRoomId == room.id" ng-repeat="room in rooms" ng-value="room.id">{{room.name}}</option>
                </select>
                <label>Durasi:
                    <input type="number" ng-model="duration">
                </label>
                <a class="button" ng-click="add()">Tambah</a>
            </form>
        </div>

        <div class="reveal" id="modalHapus" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Perhatian</h2>
            <form id="form-tambah">
                <input type="hidden" id="hapus-id">
                <p>Apakah Anda yakin untuk menghapus jadwal ini?</p>
                <a class="button alert" ng-click="destroy()">Hapus</a>
            </form>
        </div>