        <div class="medium-12 columns" style="margin-top: 10px;">
            <div class="panel-heading">
                Daftar Kuliah
            </div>
            <div class="panel-body">
                <div class="text-right">
                    <a class="button success" data-open="modalTambah"><i class="fi-plus"></i>&nbsp;Tambah</a>
                </div>
                <table>
                    <thead>
                        <tr>
                        <th width="200">Kode Kuliah</th>
                        <th>Peserta</th>
                        <th width="200">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(_, course) in courses">
                            <td>{{course.name}}</td>
                            <td>{{course.attendants}}</td>
                            <td>
                                <a ng-click="showUpdate(course.id)" class="button info"><i class="fi-pencil"></i>&nbsp;Ubah</a>
                                <a ng-click="confirmDestroy(course.id)" class="button alert"><i class="fi-trash"></i>&nbsp;Hapus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="reveal" id="modalTambah" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Tambah Kuliah</h2>
            <form id="form-tambah">
                <label>Kode Kuliah:<input type="text" name="name"></label>
                <label>Peserta:<input type="text" name="attendants"></label>
                <a class="button" ng-click="add()">Tambah</a>
            </form>
        </div>

        <div class="reveal" id="modalHapus" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Perhatian</h2>
            <form id="form-tambah">
                <input type="hidden" id="hapus-id">
                <p>Apakah Anda yakin untuk menghapus data kuliah ini?</p>
                <a class="button alert" ng-click="destroy()">Hapus</a>
            </form>
        </div>

        <div class="reveal" id="modalUbah" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Ubah Kuliah</h2>
            <input type="hidden" id="ubah-id">
            <form id="form-ubah">
                <label>Kode Kuliah:<input type="text" name="name" ng-model="room.name"></label>
                <label>Peserta:<input type="text" name="attendants" ng-model="room.attendants"></label>
                <a class="button" ng-click="update()">Ubah</a>
            </form>
        </div>
