        <div class="medium-12 columns" style="margin-top: 10px;">
            <div class="panel-heading">
                Daftar Ruangan
            </div>
            <div class="panel-body">
                <div class="text-right">
                    <a class="button success" data-open="modalTambah"><i class="fi-plus"></i>&nbsp;Tambah</a>
                </div>
                <table ng-if="rooms.length">
                    <thead>
                        <tr>
                        <th width="200">Kode Ruangan</th>
                        <th width="150">Kapasitas</th>
                        <th>Status</th>
                        <th width="200">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(_, room) in rooms">
                            <td>{{room.name}}</td>
                            <td>{{room.capacity}}</td>
                            <td>{{room.status=="0"?"normal":"dalam perbaikan"}}</td>
                            <td>
                                <a ng-click="showUpdate(room.id)" class="button info"><i class="fi-pencil"></i>&nbsp;Ubah</a>
                                <a ng-click="confirmDestroy(room.id)" class="button alert"><i class="fi-trash"></i>&nbsp;Hapus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="rooms.length==0 && init" class="primary callout">
                    <p><i class="fi-info"></i> Daftar ruangan masih kosong.</p>
                </div>
            </div>
        </div>

        <div class="reveal" id="modalTambah" data-reveal>
            <button class="close-button" ng-click="error_messages=[]" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Tambah Ruangan</h2>
            <div ng-repeat="(_, message) in error_messages" class="primary callout">
                <p><i class="fi-info"></i> {{message}}</p>
            </div>
            <form id="form-tambah">
                <label>Kode Ruangan:<input type="text" name="name"></label>
                <label>Kapasitas:<input type="text" name="capacity"></label>
                <a class="button" ng-click="add()">Tambah</a>
            </form>
        </div>

        <div class="reveal" id="modalHapus" data-reveal>
            <button class="close-button" ng-click="error_messages_edit=[]" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Perhatian</h2>
            <form id="form-tambah">
                <input type="hidden" id="hapus-id">
                <p>Apakah Anda yakin untuk menghapus data ruangan ini?</p>
                <a class="button alert" ng-click="destroy()">Hapus</a>
            </form>
        </div>

        <div class="reveal" id="modalUbah" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Ubah Ruangan</h2>
            <div ng-repeat="(_, message) in error_messages_edit" class="primary callout">
                <p><i class="fi-info"></i> {{message}}</p>
            </div>
            <input type="hidden" id="ubah-id">
            <form id="form-ubah">
                <label>Kode Ruangan:<input type="text" name="name" ng-model="room.name" readonly></label>
                <label>Kapasitas:<input type="text" name="capacity" ng-model="room.capacity"></label>
                <legend>Status</legend>
                <label for="normal"><input type="radio" name="status" value="0" id="normal" ng-model="room.status" required> Normal</label>
                <label for="perbaikan"><input type="radio" name="status" value="1" id="perbaikan" ng-model="room.status" required> Dalam Perbaikan</label>
                <a class="button" ng-click="update()">Ubah</a>
            </form>
        </div>