        <div class="medium-12 columns" style="margin-top: 10px;">
            <div class="panel-heading">
                Statistik
            </div>
            <div class="panel-body">
                <div class="text-right">
                    <input ng-model="tanggal" class="float-right" style="width: 200px;" type="date" ng-change="refreshStatistic()">
                </div>

                <div id="piechart" style="width: 900px; height: 500px;"></div>
            </div>
        </div>

     