        <div class="medium-12 columns" style="margin-top: 10px;">
            <div class="panel-heading">
                Statistik Booking Ruangan terhadap Kuliah
            </div>
            <div class="panel-body">
              <div class="float-right">
                 <div class="small-12 large-12 columns small-centered">
                    <form class="custom">
                      <div class="large-12 small-12 columns">
                        <label>
                         Kode Ruangan
                        </label>
                        <select class="form-control" ng-change="refreshStatisticByCourses()" ng-model="selectedRoom">
                        <option ng-selected="selectedRoom == room.id" ng-repeat="room in rooms" ng-value="room.id">{{room.name}}</option>
                    </select>
                   </div>
                  </form>
                 </div>
                </div>
                <div id="piechart" style="width: 900px; height: 500px;"></div>
            </div>

            <div class="panel-heading">
                Statistik Booking Ruangan
            </div>
            <div class="panel-body">
              <div class="float-right">
                 <div class="small-12 large-12 columns small-centered">
                    <form class="custom">
                      <div class="large-12 small-12 columns">
                        <!--label>
                         Kode Ruangan
                        </label-->
                        <!--select class="form-control" ng-change="refreshStatistic()" ng-model="selectedRoom">
                        <option ng-selected="selectedRoom == room.id" ng-repeat="room in rooms" ng-value="room.id">{{room.name}}</option>
                    </select-->
                   </div>
                  </form>
                 </div>
                </div>
                <div id="piechart2" style="width: 900px; height: 500px;"></div>
                
                <table>
                    <tr ng-repeat="baris in akumulasiPenggunaanRuangan">
                        <td ng-repeat="kolom in baris">{{kolom}}</td>
                    </tr>
                </table>
            </div>
        </div>

     